.login {
    position: fixed;
    background: linear-gradient(to bottom, lightblue, white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;

    .item, .item2 {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: relative;
        
        .logo {
            width: 150px;
            height: 150px;
        }

        h2 {
            font-size: 60px;
            font-weight: 1000;
            margin-bottom: 70px;
            color: rgb(227, 168, 80);
            text-shadow: 8px 8px 12px rgb(227, 168, 80); 
        }
        

        form {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            input {
                font-weight: 700;
                font-size: 20px;
                width: 100%;  
                height: 80px;
                padding: 20px;
                border: none;
                outline: none;
                background-color: rgba(173, 176, 183, 0.3);
                color: black;
                border-radius: 5px;
            }

            label {
                font-weight: 1000;
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: space-around; 
                text-align: center;
                cursor: pointer;
                text-decoration: underline;

                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 10px;
                    object-fit: cover;
                    opacity: 0.6;
                }
            }

            .button-add {
                margin-top: 50px;
                width: 80%;
                display: flex; 
                justify-content: space-evenly; 
                gap: 20px; 

                button {
                    width: 380px; 
                    padding: 30px;
                    border: none;
                    background-color: #549fe0;
                    color: white;
                    border-radius: 5px;
                    cursor: pointer;
                    font-weight: 700;
                    font-size: 20px;

                    &:disabled {
                        cursor: pointer;
                        background-color: #549fe0ac;
                    }
                }
            }
        }
    }
}
